@model ImageGallery.Client.ViewModels.OrderFrameViewModel

<div class=" container">
    <div class = "h3 bottomMarginDefault" > Order a picture </div>
    <div class="text text-info bottomMarginSmall">@Model.Address</div>
    <div class="text">If this isn't correct, please contact</div>

</div>