
@{
    ViewData["Title"] = "AuthorizationView";
}

<div class="container">
    <div class="h3">
        Looks like you're not authorised to view this page. 
        <a asp-controller="Gallery" asp-action="Logout">Would you like to logout?</a>
    </div>

</div>



