<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-3">
            <img class="icon" src="~/7LayerLogoNoBg.png">
         
        </div>
        <div class="col-sm-9">
            <h1>
                7 Layer Login Portal
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                <a href="~/.well-known/openid-configuration">
                    Discovery Endpoint
                </a> This has basic information about the server.
                
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to Login/Manage your stored grants.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Here are links to the
                <a href="https://github.com/identityserver/IdentityServer4">Identity Server Repository</a>,
                and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
            </p>
            <p>
                Identity Server 4
            </p>
        </div>
    </div>
</div>
